<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/style.css">
    <title th:text="${reviewModel.name}">Title</title>
</head>
<body>
<div class="container">
    <nav>
        <section>
            <button>
                <a th:href="@{/}">Home</a>
            </button>
        </section>
    </nav>
    <main>
        <h1 th:text="${reviewModel.name}"></h1>
        <a th:href="${reviewModel.imageUrl}">Review</a>
    </main>
    <footer>
        <small>&copy; wecancodeit 2021</small>
    </footer>
</div>
</body>
</html>