<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/style.css">
    <title>Student Records</title>
</head>
<body>
<div class="container">
    <main>
        <h1>Best Cleaning Products</h1>
        <figure>
            <img src="./images/cleaningsupplies.jpg" alt="home image of cleaning supplies">
        </figure>
        <section>
            <button>
                <a th:href="@{/reviews}"> See Reviews </a>
            </button>
        </section>
    </main>
    <footer>
        <small>&copy; Lyzz Hans 2021</small>
    </footer>
</div>
</body>
</html>
